.gradientText {
  font: bold 4.8rem Poppins, sans-serif;
  background-image: linear-gradient(80deg, #e21143, #ffb03a);
  background-clip: text;
  color: transparent;
}

.gradientTextSmall {
  font: bold 3.6rem Poppins, sans-serif;
  background-image: linear-gradient(20deg, #e21143, #ffb03a);
  background-clip: text;
  color: transparent;
}

/* @supports (background-clip: text) {
  .gradient-text {
    background-image: linear-gradient(60deg, #e21143, #ffb03a);
    background-clip: text;
    color: transparent;
  }
} */
